<!DOCTYPE html>
<html ng-app='triviaApp' class='ng-scope'>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Trivia Trends</title>
  <link rel="shortcut icon" href="/styles/assets/crownFavicon.png">
</head>

<body ng-controller='questionCtrl' class='ng-scope'>
  <header>
    <div></div>
    <h1>Trivia Trends</h1>
    <button  ng-click="openModal()"><span>+</span> Add Question</button>
  </header>
  <article>
    <nav>
      <a>All Questions</a>
      <a>Easy</a>
      <a>Medium</a>
      <a>Hard</a>
      <a>Search by Animal</a>
    </nav>
    <div class="search">
      <input type="text" placeholder="Animal to search by">
    </div>
    <img class="img1" src="http://pa1.narvii.com/6384/9baa0cb2f9e942295a4bc4d1705c36a21b56e8b7_hq.gif"/>
    <div class="question-wrapper" ng-repeat='question in questions'>

      <h3>{{question.question}}</h3>
      <div >{{question.difficulty}}</div>
      <div class="gear"  ng-click="openModal(question)">
        <img src="/styles/assets/gear.svg" alt="">
      </div>
      <ul>
        <li ng-repeat='option in question.options'> <!-- Repeated for each option -->
          <input type="radio">
            <label>{{option}}</label>
        </li>
      </ul>

    </div>

  </article>

  <div class=" {{modalOpen ? 'modal' : 'modal ng-hide'}}" ng-show="modalOpen">
    <form>
      <h4 class="close" ng-click='closeModal()'>X</h4>
      <span>Question</span><input type="text" ng-model='currentQuestion.question'>
      <!-- ng-model="" -->
      <span>Animal it's about</span><input type="text" ng-model="currentQuestion.animal">
      <span>Difficulty</span>
      <div class="range">
        <input type="range" min="1" max="3" ng-model="currentQuestion.difficulty">

        <h5>{{currentQuestion.difficulty}}</h5>
      </div>
      <h4>Options</h4>
      <div>
        <input type="radio" ng-model="currentQuestion.correct_answer" value="1">
        <input type="text" ng-model="currentQuestion.options['1']">
      </div>
      <div>
        <input type="radio" ng-model="currentQuestion.correct_answer" value="2">
        <input type="text" ng-model="currentQuestion.options['2']">
      </div>
      <div>
        <input type="radio" ng-model="currentQuestion.correct_answer" value="3">
        <input type="text" ng-model="currentQuestion.options['3']">
      </div>
      <div>
        <input type="radio" ng-model="currentQuestion.correct_answer" value="4">
        <input type="text" ng-model="currentQuestion.options['4']">
      </div>

      <!--Add question buttons-->
      <div class="{{currentQuestion._id ? 'ng-hide' : 'buttons'}}">
        <button class="green">Save Question</button>
        <button>Cancel</button>
      </div>

      <!--Edit & Delete question buttons-->
      <div class="{{currentQuestion._id ? 'buttons' : 'ng-hide' }}">
        <button class="red" ng-click='deleteQuestion(currentQuestion._id); closeModal()'>Delete Question</button>
        <button class="green">Save Changes</button>
        <button>Cancel</button>
      </div>

    </form>
  </div>





  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js" charset="utf-8"></script>
  <script src="app/app.js" charset="utf-8"></script>
  <script src='app/questionCrtl.js' charset="utf-8"></script>
  <script src='app/question.service.js' charset="utf-8"></script>
</body>
